@charset "utf-8";

#info_table {
    max-width: 500px;
    /* border: 1px solid #ebebeb; */
    border-spacing: 0;
}

#info_table th,
#info_table td {
    border: .1px solid #e6e5e5;
    padding: 10px 0;
}

#info_table th {
    width: 120px;
    font-weight: 600;
    color: #1a448f;
    text-align: center;
    font-size: 14px;
}

#info_table td {
    padding: 10px 20px;
    font-size: 13px;
    color:#535d60;
}

@media screen and (max-width: 1139px) {
    #info_table {
        min-width: 500px;
    }
}

/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) {
    
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {
    #info_table {
        min-width: auto;
    }

    /* #info_table th,
    #info_table td {
        display: block;
        padding: 9px;
    }

    #info_table th {
        text-align: left;
    } */
}