@charset "utf-8";

@import url("./main_visual.css");
@import url("./info_table.css");
@import url("./article/article1.css");
@import url("./article/article2.css");
@import url("./article/article3.css");
@import url("./article/article4.css");
@import url("./article/article5.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

span {
    display: inline-block;  /* 改行しない */
}

main h1{
    font-size: 30px;
    color: #1a448f;
    margin-bottom: 10px;
}

main h2 {
    color: #1a448f;
    margin-bottom: 5px;
}

main p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 29px;
    font-weight: 400;
    color:#535d60;
}

.flex_container {
    display: flex;
}

.img_container {
    margin: auto 0;
    width: fit-content;
}

.img_container img{
    width: 500px;
}

article {
    padding: 0 60px;
}

.wave {
    width: 100%;
    vertical-align: bottom;
    /* 範囲選択できないようにする */
    user-select: none;
    -webkit-user-select: none;
}

.square_button {
    padding: 7px 10px;
    margin: 10px 0;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;
}

.square_button span {
    padding-left: 5px;
}

.square_button a {
    font-size: 17px;
    padding-left: 2px;
    text-decoration: none;
    color: white;
}

.discord {
    background-color: #546cfc;
    margin-right: 30px;
}

.discord:hover {
    background-color: #6e83fe;
}

.discord svg {
    width: 30px;
    fill: white;
    vertical-align: middle;
}

/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) { 
    .img_container {
        width: 100%;
    }

    .img_container img{
        width: 100%;
    }
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {
    main h1 {
        font-size: 25px;
    }
    
    main p {
        font-size: 14px;
        line-height: 23px;
    }

    article {
        padding: 0 20px;
    }
}

/* iphone8よりも小さな画面 */
@media screen and (max-width: 760px) {
    main h1 {
        font-size: 21px;
        margin-bottom: 8px;
    }

    main h2 {
        font-size: 18px;
    }
}