@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

span {
    /* 改行しない */
    display: inline-block;
}

body {
    /* background-color: #ecf4f4; */
    overflow-x: hidden;
}

#main_visual {
    background-color: #e8f2fb;
    /* background-color: #f0f8ff; */
}

#visual_flex {
    display: flex;
}

#visual_title {
    width: fit-content;
    margin: auto 0 auto auto;
    padding-left: 100px;
    color: #1a448f;
}

.large_title {
    width: fit-content;
}

.small_title {
    width: fit-content;
    font-size: 15%;
}

#main_visual img {
    width: 400px;
    margin: auto auto auto 0;
    user-select: none;
    -webkit-user-select: none;
}

.bottom_wave {
    position: absolute;
    z-index: -1;
}

main {
    margin: 30px 0;
    padding: 10px 60px;
    height: 400px;
}

/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) {
    
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {

    #visual_flex {
        display: block;
    }

    #visual_title {
        margin: 0 auto;
        padding: 30px 0 70px 0;
    }

    #visual_img {
        margin: 0 auto;
    }

    /* #main_visual img {
        width: 40%;
        margin: 0 auto;
    } */
}