@charset "utf-8";

* {  
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: #f5f5f5;
}

#main_visual {
    text-align: center;
}

#main_visual h1{
    margin: 80px 0 65px 0;
}

main {
    margin: 10px 30px;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: white;
}

main section {
    margin: 6px 0 40px 0;
}

main h2, main p {
    color: #485c64; 
}

main h2 {
    width: fit-content;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 3px solid #76a8ff;
}

main li {
    margin-bottom: 5px;
}

main a {
    color: #0d66ff;
    text-decoration: none;
}

main a:hover {
    border-bottom: 1px solid #0d66ff;
}

