@charset "utf-8";

footer {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: white;
    max-width: 100%;
    margin: 0;
    /* 選択できないようにする */
    user-select: none;
    -webkit-user-select: none;
}

footer ul {
    list-style: none;
}

footer li {
    font-size: 15px;
    font-weight: 300;
    padding: 4px 0;
}

footer h3 {
    font-weight: 500;
    padding-bottom: 10px;
}

footer a{
    text-decoration: none;
}

footer .flex_container {
    display: flex;
}

#footer_menu {
    padding-bottom: 35px;
}

#footer_navi, #footer_portal {
    padding-left: 10%;
    vertical-align:top;
}

#footer_navi {
    margin-top: 35px;
}

#footer_portal {
    padding-top: 35px;
}

#footer_portal a {
    color: black;
}

#footer_portal a:hover {
    border-bottom: 1px solid black;
}

#cmark {
    display: block;
    padding: 10px;
    border-top: 1px solid gray;
    width: 80%;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    color: gray;
}

.circle_button {
    width: fit-content;
    padding: 9px 9px 8px 9px;
    margin-right: 15px;
    border-radius: 100px;
    cursor: pointer;
}

.github {
    background-color: #485c64;
}

.github:hover {
    background-color: #6a8691;
}

.github svg {
    width: 30px;
    fill: white;
    vertical-align: middle;
}

.twitter {
    background-color: #20a4f4;
}

.twitter:hover {
    background-color: #5ab8f3;
}

.twitter svg {
    width: 29px;
    fill: white;
    vertical-align: middle;
}

.youtube {
    background-color: #f0342c;
}

.youtube:hover {
    background-color: #f06560;
}

.youtube svg {
    width: 30px;
    fill: white;
    vertical-align: middle;
}

/* スマホよりも大きい画面 */
@media screen and (min-width: 760px) {
    footer li {
        font-size: 15px;
        font-weight: 300;
        padding: 4px 0;
    }

    footer h3 {
        font-weight: 500;
        font-size: 130%;
        padding-bottom: 10px;
    }

    #footer_menu {
        padding-bottom: 35px;
    }

    #footer_navi, #footer_portal {
        padding-left: 10%;
        display: inline-block;
    }
}
 
/* タブレットよりも大きい画面 */
@media screen and (min-width: 960px) {
    #footer_navi {
        margin-top: 35px;
    }
}
 