/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

.pln {
    color: #333;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
    background-color: white;
}

@media screen {
    /* string content */
    .str {
        color: #4daa4d;
    }
    /* keyword */
    .kwd {
        color: #ff4a4a;
    }
    /* comment */
    .com {
        color: #998;
    }
    /* type name */
    .typ {
        color: #0e76ff;
    }
    /* literal value */
    .lit {
        color: #bd3ebd;
    }
    /* punctuation */
    .pun {
        color: #333;
    }
    /* lisp open bracket */
    .opn {
        color: #333;
    }
    /* lisp close bracket */
    .clo {
        color: #333;
    }
    /* markup tag name */
    .tag {
        color: #000080;
    }
    /* markup attribute name */
    .atn {
        color: #008080;
    }
    /* markup attribute value */
    .atv {
        color: #d14;
    }
    /* declaration */
    .dec {
        color: #333;
    }
    /* variable name */
    .var {
        color: #008080;
    }
    /* function name */
    .fun {
        color: #900;
    }
}
