@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

div {
    /* 親要素の幅を子要素に合わせる */
    width: fit-content;
}

h1 {
    padding: 10px 0;
}

.error_msg {
    width: 201px;
    background-color: #ffe6e6;
    padding: 7px 10px;
    margin: 5px 0 15px 0;
    border: solid 1px #fdbdbd;
    border-radius: 4px;
}

.error_msg p {
    font-size: 12px;
    font-weight: 400;
    color: #ff5959;
}

form {
    width: fit-content; /* 親要素の幅を子要素に合わせる */
    margin: 100px auto;
    padding: 0 50px;
}

.input_field {
    position: relative;
    margin-bottom: 15px;
    padding: 6px 10px;
    border: 0.8px solid;
    border-color: #c7c7c7; /* 半径が8pxの角丸 */
    border-radius: 4px;
}

#eye_button {
    position: absolute;
    left: -100px;
}

label, i {
    /* 範囲選択できないようにする */
    user-select: none;
    -webkit-user-select: none;
}

#pass_eye {
    position: absolute;
    top: 11px;
    right: 8px;
    vertical-align: middle;
    padding-bottom: 3px;
    font-size: 15px;
    color: gray;
}

.input_field input {
    background: none;
    outline: none;
    border: none;
    width: 200px;
}

input[type="password"] {
    width: 180px;
    padding-right: 20px;
}


input[type="submit"] {
    border: none;
    outline: none;
    width: 222px;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: #0062ff;
}