@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

main div {
    /* 親要素の幅を子要素に合わせる */
    width: fit-content;
}

h1 {
    font-size: 25px;
    padding: 10px 0;
}

h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 9px;
}

.error_msg {
    width: 201px;
    background-color: #ffe6e6;
    padding: 7px 10px;
    margin: 5px 0 15px 0;
    border: solid 1px #fdbdbd;
    border-radius: 4px;
}

.error_msg p {
    font-size: 12px;
    font-weight: 400;
    color: #ff5959;
}

form {
    width: fit-content; /* 親要素の幅を子要素に合わせる */
    margin: 10px auto 40px auto;
    padding: 0 50px;
}

.input_field {
    position: relative;
    margin-bottom: 15px;
    padding: 6px 10px;
    border: 0.8px solid;
    border-color: #c7c7c7; /* 半径が8pxの角丸 */
    border-radius: 4px;
}

.eye_button {
    position: absolute;
    left: -100px;
}

label, i {
    /* 範囲選択できないようにする */
    user-select: none;
    -webkit-user-select: none;
}

.pass_eye {
    position: absolute;
    top: 11px;
    right: 8px;
    vertical-align: middle;
    padding-bottom: 3px;
    font-size: 15px;
    color: gray;
}

.input_field input {
    background: none;
    outline: none;
    border: none;
    width: 200px;
}

input[type="password"] {
    width: 180px;
    padding-right: 20px;
}

input[type="submit"] {
    border: none;
    outline: none;
    width: 222px;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    /* background-color: #0062ff; */
    background-color: #4cbcac;

}

input[type="submit"]:hover {
    /* background-color: #448cff; */
    background-color: #4ed8c3;
}

.flex_container {
    display: flex;
    margin-top: 4px;
}

.radio_buttons {
    width: 192px;
    margin: 6px 0 20px 0;
    padding: 6px 20px 6px 10px;
    border: .5px solid #c7c7c7;
    border-radius: 4px;
}

.radio_buttons p {
    font-family: 'Open+Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #535d60;
}

.radio_buttons input {
    margin-right: 8px;
}

.help_button {
    /* vertical-align: middle;
    margin-bottom: 3px; */
    font-size: 20px;
    color: #bfbfbf;
}

.help_container {
    position: relative;
    margin-left: 10px;
}

.help_box {
    position: absolute;
    top: 0;
    left: 30px;
    display: none;
    width: 180px;
    padding: 10px 13px;
    border-radius: 8px;
    font-size: 13px;
    background-color: #ededed;
}

#admin_help:hover + #admin_help_box {
    display: block;
}

#member_help:hover + #member_help_box {
    display: block;
}

#guest_help:hover + #guest_help_box {
    display: block;
}