@charset "utf-8";

#article4 {
    padding: 30px auto;
    background-color: #f3f4f5;
}

#section4_left {
    width: 600px;
    margin: 0 auto auto 0;
}

#section4_right {
    width: 600px;
    margin: auto auto auto 0;
}

#section4_right .flex_container{
    margin-top: 10px;
    flex: 0 0 auto;
    flex-wrap: wrap;
}

/* タブレットよりも小さな画面 */
@media screen and (max-width: 960px) {
    #article4 {
        flex-direction: column;
    }

    #section4_left {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    
    #section4_right {
        width: 100%;
        margin: 0;
    }
}

/* スマホよりも小さな画面 */
@media screen and (max-width: 760px) {

}